div.move{
	display: inline-block;
}
div#last{
	color:red;
}
div#section-headers > div > div{
	float:left;
	width:100%;
	border:1px solid #ccc;
	color:#666;
	padding:10px;
	text-align: center;
	border-radius: 5px;
}
div#section-headers div#active{ 
	background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
	color:#333;
	font-weight:bold;
	border-color: #999;
	border-width: 2px;
}
div#section-content{
	margin-top:5px;
	border:1px solid #ccc;
	padding:25px;
	padding-bottom:50px;
	color:#333;
	border-radius:5px;
	float:left;
	width:100%;
	max-height:900px;
	overflow:scroll;
	overflow-x:hidden;
	margin-bottom:35px;
}
div#animation{
	border:1px solid #ccc;
	border-radius:5px;
	padding:25px;
	float:left;
	width:100%;
	margin-bottom:5px;
}
div.button-down{
	background-color:#999 !important;
	color:#fff !important;
	font-weight: bold;
}
span.time{
	display: block;
	clear:both;
	padding:5px 15px;
}
span.time:nth-child(even){
	background-color: #ccc;
	color:#333;	
}
.locked, .dropdown-menu > li > a.locked{
	color:#ddd;
}
table#session-table{
	width:100%;
	border:1px solid #ccc;
	font-size:9pt;
}
table#session-table tr:nth-child(even){
	background-color: #eee;
	color:#333;	
}
table#session-table td{
	padding:8px;
	border:1px solid #ccc;
}
div#session-times{
	width:60%;
	float:left;
	margin-bottom:25px;
}
div#session-data{
	float:left;
	padding-left: 20px;
}

table#history-table{
	width:100%;
	font-size:9pt;
}
table#history-table tr:nth-child(even){
	background-color: #eee;
	color:#333;	
}
table#history-table td{
	padding:8px;
	border:1px solid #ccc;
}
div#history-times{
	width:60%;
	float:left;
	margin-bottom:25px;
}

td.id, td.date, td.solve-time{
	vertical-align: top;
	width:15px;
	white-space: nowrap;
}
td.solve-time{
	vertical-align: top;
}
td.id{
	font-weight: bold;
	font-size: 11pt;
	text-align: center;
}
div#set-inspection, div#start-key{
	width:47%;
	float: left;
	border:1px solid #ccc;
	border-radius: 5px;
	background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
	padding:25px;
	font-weight: bold;
	text-align: center;
}
div#start-key{
	float: right;
}
div.inspection{
	background-color: green;
	color:#fff;
	font-weight: bold;
}
div.last-seconds{
	background-color: red;
	color:#fff;
	font-weight: bold;
}
div#history-data, div#session-data{
	float:left;
	text-align:right;
	width:100%;
	border:1px solid #ccc;
	border-radius: 5px;
	margin:0 10px 10px 10px;
	padding: 10px;
}

div.header{
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom:1px solid #ddd;
	font-weight: bold;
	text-align: center;
	font-size: 12pt;
}
div#history-data > div, div#session-data > div{
	text-align:right;
}
span.value{
	font-weight:bold;
	font-size:11pt;
	letter-spacing: 1px;
}
div.separate{
	position:relative;
	float:left;
}
#histogram{
	float:left;
	margin-top:10px;
	border: 1px solid #ccc;
	width:100%;
	padding:25px;
	border-radius: 5px;
}